md-input-container.md-icon-left{
    padding-right: 0em !important;
    padding-left: 0em !important;
}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #8c3ac4;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary {
    background-color: #8c3ac4;
}
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab {
    color: rgba(255,255,255,0.87);
    background-color: #7e35b1;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised {
    color: rgb(33,33,33);
    background-color: rgb(250,250,250);
}
md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
    color:rgb(33,33,33) !important;
}

h1, h3 {
    font-weight: 300;
}

html {
    height: auto !important;
    background-color: lightgrey;
}
body{
    background-color: lightgrey;
    position: absolute !important;
    width: 100%;
    overflow-y: auto !important;
    height: inherit !important;
}
footer p {
    font-size: 13px;
    letter-spacing: .4px;
}
.inputIconDemo {
    min-height: 48px;
}

footer img {
    width: 180px;
    transition: all .2s ease;
}

footer img:hover {
    opacity: .83;
}

footer img:focus,
footer a:focus {
    outline: none;
}

.inputdemoErrorsAdvanced {
    /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
    /* Setup animations similar to the ng-messages */ }
.inputdemoErrorsAdvanced .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

.md-button {
margin: 0 !important;
}

md-input-container.md-icon-float {
    margin-bottom: 10px;
}

md-input-container ng-messages,
md-input-container [ng-messages] {
    padding-left: 36px;
}

.md-button.md-raised:not([disabled]) {
    width: 100%;
    height: 48px;
    color: white;
}

/* Footer Styles */

footer a {
    text-decoration: none;
    transition: all .2s ease;
}

footer a:hover {
    text-decoration: underline;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    padding: 0.5em;
}
.md-button.md-fab{
    background-color: white !important;
    height: 36px !important;
    width:36px !important;
}
.md-button.md-fab:hover {
    transform: scale(1.1);
}

.md-button.md-fab.eventGrading{
    position: absolute;
}

.md-button.md-fab.top-toolbar{
    background-color: white !important;
    height: 75px !important;
    width:75px !important;
}
.md-button.md-fab.top-toolbar:hover {
    transform: scale(1.1);
}

.imageholder {
    width: 55px;
    height: 55px;
    margin: auto;
}
.md-button div img {
    height: 55px;
}
.top-toolbar{
    background-color: #6A1B9A !important;
}
.bottom-toolbar{
    padding: 0 !important;
    background-color: #7B1FA2 !important;
}

.group-container-header{
    background-color: #8E24AA !important;
    color:white;
}
md-card{
    min-width: 25%;
    cursor: pointer !important;
}
md-card:hover{
    border-color: white;
    background-color: #9C27B0;
}

.login {
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 340px;
    padding-top:1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right:1em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.main{
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    background-color:silver;
    overflow-y: hidden;
}

.group-container div div{
    word-break: normal;
    float:left;
    min-width: 25%;
}

.md-table{
    width: 100%;
    border:none;
    border-spacing: 0;
}
.md-table thead{
    background-color:#9C27B0;
    color:rgba(255,255,255,0.87);
    border:none;
}
.md-table thead tr{
    height: 3em;
}

.md-table thead th{
    padding-left: 2em;
    text-align: left;
}

.md-table tbody{
    background-color:white;
    border:none;
}
.md-table tbody tr:hover{
    background-color:#EEEEEE;
}
.md-table tbody tr{
    max-height: 3em;
    height: 3em;
    min-height: 2em;
}
.md-table tbody tr td{
    padding-left: 2em;
    padding-right:2em;
}
.md-table tbody tr td input{
    border:none;
    background: transparent;
    width: 100%;
}
.md-table tbody tr td input:focus{
    border:none;
    background: transparent;
}

md-dialog md-dialog-content{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.table-events-title{
    width:35%;
}
.table-events-date{
    width:25%;
}
.table-events-Grade{
    width:20%;
}
.table-events-History{
    width:20%;
}
.table-notes-latest{
    width:80%;
}
.table-notes-history{
    width:20%;
}



