@mixin mobile{
  @media(max-width: 800px){
    @content;
  }
}

.login {
  text-align: center;
  margin-top:auto;
  margin-bottom:auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 340px;
  padding-top:1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right:1em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.main{
width: 70%;
  margin-left: auto;
  margin-right:auto;
  background-color:silver;
  overflow-y: hidden;
}

.group-container{
  div{
    div{
      word-break: normal;
      float:left;
      min-width: 25%;
    }
  }
}

.md-table{
  width: 100%;
  border:none;
  border-spacing: 0;
}
.md-table thead{
  background-color:#9C27B0;
  color:rgba(255,255,255,0.87);
  border:none;
}
.md-table thead tr{
  height: 3em;
}

.md-table thead th{
  padding-left: 2em;
  text-align: left;
}

.md-table tbody{
  background-color:white;
  border:none;
}
.md-table tbody tr:hover{
  background-color:#EEEEEE;
}
.md-table tbody tr{
  max-height: 3em;
  height: 3em;
  min-height: 2em;
}
.md-table tbody tr td{
  padding-left: 2em;
  padding-right:2em;
}
.md-table tbody tr td input{
  border:none;
  background: transparent;
  width: 100%;
}
.md-table tbody tr td input:focus{
  border:none;
  background: transparent;
}

@include mobile{
  .login{
    text-align: center;
    height: 100%;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    border: none;
    box-shadow: none;
  }
  .group-container{
    div{
      div{
        width: 100%;
        word-break: break-all;
      }
    }
  }
  .main{
    width: 100%;
  }
}