<div class="all">
    <div class="login-area">
        <h1>Login</h1>
        <img src="resources/logoLogin.png">
        <form name="formTeacher">
            <select name="selectTeacher" ng-model="form.idUser" required>
                <option ng-repeat="record in colTeachers" ng-value="record.idUser">{{record.idUser}}</option>
            </select>
            <button><input type="submit" ng-disabled="!formTeacher.$valid" ng-click="logIn()" value="LogIn"></button>
            <!--<label>Login-Text: </label>
            <input type="text" id = credentials>
            <label>Password:</label>
            <input type="password" id = "password">
            <button class="sign-in-button" type="button">OK</button>-->
        </form>
        <label id="message" class="message_label">hier könnte ihre message stehen</label>
    </div>
</div>

