<md-dialog style="width: 50%" aria-label="Settings">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-label="Close dialog"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >
            <div class="imput" style="height: 7em">
                <div class="form-group"style="margin-top: 1em">
                    <label class="control-label">
                        Von:
                    </label>
                    <div class="input-group" >
                        <div layout-gt-xs="row">
                            <div flex-gt-xs>
                                <h4>Standard date-picker</h4>
                                <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                            </div>
                        </div>
                        <input type="date" id="s" name="inputEventDate1" ng-model="eMailDates.von" placeholder="eventDate" min="2016-01-01" required="true" class="ng-valid-min ng-touched ng-not-empty ng-dirty ng-valid-date ng-valid ng-valid-required" aria-invalid="false">
                    </div>
                </div>
                <div class="form-group" style="margin-top: 1em">
                    <label class="control-label">
                        Bis:
                    </label>
                    <div class="input-group">
                        <input type="date" id="f" name="inputEventDate2" ng-model="eMailDates.bis" placeholder="eventDate" min="2016-01-01" required="true" class="ng-valid-min ng-touched ng-not-empty ng-dirty ng-valid-date ng-valid ng-valid-required" aria-invalid="false">
                    </div>
                </div>
            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button style="margin-left:20px;" ng-click="setEmails()" >
                OK
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
