<md-dialog aria-label="Settings">
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <div style="width: 50vw">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-label="Close dialog"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >

            <div class="imput">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>
                    </div>
                </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button style="margin-left:20px;" ng-click="" >
                OK
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
    </div>
</md-dialog>
