<md-dialog aria-label="Settings">

    <div style="width: 50vw">
        <link rel="stylesheet" href="css/bootstrap.css">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Settings</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-label="Close dialog"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >
            <div class="imput" style="height: 7em">
                <div class="form-group ">
                    <label class="control-label " for="date">
                        Date
                    </label>
                    <div class="input-group">
                            <span class="glyphicon glyphicon-calendar">
                            </span>

                        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
                    </div>
                </div>
                <script>
                    $(document).ready(function(){
                        alert('Hallo Welt');
                        var date_input=$('input[name="date"]'); //our date input has the name "date"
                        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                        date_input.datepicker({
                            format: 'mm/dd/yyyy',
                            container: container,
                            todayHighlight: true,
                            autoclose: true,
                        })
                    })
                </script>

            </div>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button style="margin-left:20px;" ng-click="" >
                OK
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;" >
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
    </div>
</md-dialog>
