

<div class="all">
    <h1>
      Student
    </h1>

  <nav id="site-nav">
    <div class = "site-nav-wrapper">
      <a id="addClassBtn">Add Event</a>
      <a id="addSubjectBtn">Add Note</a>
      <a href="styled_Information.html">Show All</a>
    </div>
  </nav>
  </div>

  </header>
  <main class="main">

    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="myModal" class="modal">
      <div class="modal-wrapper">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Add Event</h2>
       </div>
          <form>
          <div class="modal-body">
            <div class="imput"> <div>Title: </div><input type="text" /></div>
            <div class="imput"> <div>Date: </div><input type="date" /></div>
          </div>
            <div class="modal-footer">
        <button class="btnOK" type="button"> OK</button>
        <button id="btnCancel" class="btnCancel" type="button">Cancel</button>
      </div>
      </form>
    </div>
  </div>
  <div id="myModal2" class="modal">
    <div class="modal-wrapper">
      <div class="modal-header">
        <span class="close">×</span>
        <h2>Add Note</h2>
      </div>
      <form>
        <div class="modal-body">
          <div class = imput>
          <div>Description: </div><textarea class="imput" name="message" rows="5" cols="30"></textarea></div>
        </div>
        <div class="modal-footer">
          <button class="btnOK" type="button"> OK</button>
          <button id="btnCancel2" class="btnCancel" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>

        <div id="participation_Modal" class="modal">
          <div class="modal-wrapper">
            <div class="modal-header">
              <span class="close">×</span>
              <h2>Grade</h2>
            </div>
            <form>
              <div class="modal-body">
                <div class="radio-tile-group">
                  <div class="input-container">
                      <div class = "radio-tile">
                        <input type="radio" id="1" class= "radio-button" name="grade" value="1">
                        <label for="1">1</label>
                      </div>
                      <div class = "radio-tile">
                        <input type="radio" id="2" class= "radio-button"  name="grade" value="2">
                        <label for="2">2</label>
                      </div>
                      <div class = "radio-tile">
                        <input type="radio" id="3" class= "radio-button"  name="grade" value="3">
                        <label for="3">3</label>
                        </div>
                      <div class = "radio-tile">
                        <input type="radio" id="4" class= "radio-button"  name="grade" value="4">
                        <label for="4">4</label>
                      </div>
                      <div class = "radio-tile">
                        <input type="radio" id="5" class= "radio-button"  name="grade" value="5">
                        <label for="5">5</label>
                      </div>
                      <div class = "radio-tile">
                        <input type="radio" id="0" class= "radio-button"  name="grade" value="0">
                        <label for="0">A</label>
                      </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button class="btnOK" type="button"> OK</button>
                <button id="btnCancel3" class="btnCancel" type="button">Cancel</button>
              </div>
                </div>
            </form>
          </div>
        </div>

        <div class="section-container">
          <div class="tile-container">
            <h2>
              Ungraded Events
              <a href="/"><img src="../resources/Hamburger.png"></a>
            </h2>
            <div>
              <a class="event">
                Text
              </a>
            </div>
            </div>
        </div>

        <div class="section-container">
          <div class="tile-container">
            <h2>
              Graded Events
              <a href="/"><img src="../resources/Hamburger.png"></a>
            </h2>
            <div>
              <a class="event">
                Text
              </a>
            </div>
            
          </div>
        </div>


</main>
</div>
</html>
