<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar>
        <h1 class="md-toolbar-tools">Settings</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form layout="column" layout-align="center">
            <md-input-container flex>
                <md-button style="width: 100%">
                    Delete
                </md-button>
            </md-input-container>
            <md-input-container flex>
                <md-button ng-click="toggleshowRename()" style="width: 100%">
                    Rename
                </md-button>
            </md-input-container>
            <div ng-hide="!showRename.show">
                <md-input-container style="width: 100%">
                    <md-icon md-svg-src="../resources/ic_perm_identity_black_24px.svg" class="name"></md-icon>
                    <input style="width: 100%" style="padding-left: 25px;" name="subject" ng-model="form.subject" type="text" placeholder="Subject" ng-required="true">
                    <div>
                        <div ng-message="required">A Subject is required</div>
                    </div>
                </md-input-container>
                <md-button style="width: 100%">
                    OK
                </md-button>
            </div>
        </form>
        <md-button style="width: 100%" ng-click="close()">
            Close Settings
        </md-button>
    </md-content>
</md-sidenav>