<md-toolbar class="top-toolbar" layout="row" md-scroll-shrink>
    <div style="display: inline-flex">
        <div>
            <md-button aria-label="menu" class="md-fab md-primary">
                <div class="imageholder">
                    <img src="../resources/logo.png">
                </div>
            </md-button>
        </div>
        <div ng-bind="breadcrumb" class="md-toolbar-tools"></div>
    </div>
    <span flex></span>
    <div layout="row" layout-align="center center">
        <md-button ng-click="showTabDialog($event)" aria-label="none" class="md-icon-button">
            <md-icon md-svg-src="../resources/ic_email_white_48px.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>


<md-toolbar class="bottom-toolbar" layout>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
    </div>
</md-toolbar>

<main class="main">
    <table class="md-table mytable">
        <colgroup>
            <col style="width:60%">
            <col style="width:40%">
        </colgroup>
        <thead>
        <tr class="table-head">
            <th class="md-table-header">Studentname</th>
            <th class="md-table-header">Grade</th>
        </tr>
        </thead>
        <tbody class="md-table-content-row">
        <tr class="md-table-content-row" ng-repeat="item in grade.colParticipations">
            <td class="md-table-content">{{item.Pupil.surname}}, {{item.Pupil.forename}}</td>
            <td class="md-table-content">
                <md-input-container class="md-block" flex-gt-sm>
                    <label style="color: white">Grade</label>
                </md-input-container>
            </td>
        </tr>
        </tbody>
    </table>
</main>
