<div >
    <header  ng-show="show" id="site-header">
        <div class="site-header-toprow">
            <div class="circle">
                <a class="site-logo" href="#overview">
                    <h1 class="logotype">
                        <img src="resources/logo.png" width="70">
                    </h1>
                </a>
            </div>
            <div >
                <h2 ng-bind="breadcrumb">
                </h2>
            </div>
            <div class="settings-btn">
                <img src="resources/settings.png" width="2em">
            </div>
        </div>
    </header>
</div>

<nav id="site-nav">
    <div class="site-nav-wrapper">
    </div>
</nav>

<main class="main">
    <div class="section-container">
        <input class="btnBack" value="Back" content="Back" type="submit" ng-click="back()"/>
        <div class="information-container">
            <div>
                <table>
                    <colgroup>
                        <col style="width:10%">
                        <col style="width:60%">
                        <col style="width:30%">
                    </colgroup>
                    <thead>
                    <tr class="table-head">
                        <th>Number</th>
                        <th>Studentname</th>
                        <th>Grade</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-body-1">
                        <td>1</td>
                        <td>Dude</td>
                        <td><select class="form-control" ng-model="Grade+id/name?" ng-change="changedValue(Grade+id/name?)">
                            <option value="0">Absent</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></td>
                    </tr>
                    <tr class="table-body-2">
                        <td>2</td>
                        <td>Dude</td>
                        <td><select class="form-control"  ng-model="Grade+id/name?" ng-change="changedValue(Grade+id/name?)">
                            <option value="0">Absent</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></td>
                    </tr>
                    <tr class="table-body-1">
                        <td>3</td>
                        <td>Dude</td>
                        <td><select class="form-control"  ng-model="Grade+id/name?" ng-change="changedValue(Grade+id/name?)">
                            <option value="0">Absent</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input class="btnBack" value="Back" content="Back" type="submit" ng-click="back()"/>
    </div>
    </div>
</main>

