<md-dialog style="width: 50%" aria-label="Add Subject">
    <form name="formAddSubject">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Subject</h2>
                <span flex></span>
                <md-button aria-label="CLOSE" class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="../resources/ic_cancel_white_48px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content >
            <md-progress-linear md-mode="indeterminate" ng-disabled="!state.loading"></md-progress-linear>
                <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                    <md-icon md-svg-src="../resources/ic_description_black_24px.svg" class="name"></md-icon>
                    <input style="padding-left: 25px;"  name="subjectName" id = "subjectName" ng-model="newSubject.name" type="text" placeholder="Subject" ng-required="true" subj-name-unique>
               <!--     <div ng-messages="clientLogin.userName.$error">
                        <div ng-message="required">Your full name is required.</div>
                    </div>-->
                </md-input-container>
            <span ng-show="formAddSubject.subjectName.$error.subjNameUnique">Name muss einzigartig sein</span>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button aria-label="OK" style="margin-left:20px;" ng-click="addNewSubject()" ng-disabled="formAddSubject.subjectName.$invalid" >
                OK
            </md-button>
            <span flex></span>
            <md-button aria-label="CANCEL" ng-click="cancel()" style="margin-right:20px;" >
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
