
<div >
    <header  ng-show="show" id="site-header">
        <div class="site-header-toprow">
            <div class="circle">
                <a class="site-logo" href="##!/overview#overview">
                    <h1 class="logotype">
                        <img src="resources/logo.png" width="70">
                    </h1>
                </a>
            </div>
            <div >
                <h2 ng-bind="breadcrumb">
                </h2>
            </div>
            <div class="settings-btn">
                <img src="resources/settings.png" width="2em" ng-click="showTabDialog($event)">
            </div>
        </div>
    </header>
</div>

<nav id="site-nav">
    <div class="site-nav-wrapper">
    </div>
</nav>

<div ng-hide="!data.displayModalGroup"  id="myModal2" class="modal">
    <div class="modal-wrapper">
        <div class="modal-header">
            <h2>Grade History</h2>
        </div>
        <form>
            <div class="modal-body">
                <table>
                    <colgroup>
                        <col style="width:25%">
                        <col style="width:75%">
                    </colgroup>
                    <thead>
                    <tr class="table-head">
                        <th>Grade</th>
                        <th>Changed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-body-1">
                        <td>
                            2
                        </td>
                        <td>13.3.2016</td>
                    </tr>
                    <tr class="table-body-2">
                        <td>3</td>
                        <td>14.4.2016</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button ng-click="switchModalSubject()" class="btnCancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div ng-hide="!data.displayModalGroup"  id="myModal3" class="modal">
    <div class="modal-wrapper">
        <div class="modal-header">
            <h2>Note History</h2>
        </div>
        <form>
            <div class="modal-body">
                <table>
                    <colgroup>
                        <col style="width:75%">
                        <col style="width:25%">
                    </colgroup>
                    <thead>
                    <tr class="table-head">
                        <th>Content</th>
                        <th>Changed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="table-body-1">
                        <td>ffdafdafdfasfaaafdsafda</td>
                        <td>13.3.2016</td>
                    </tr>
                    <tr class="table-body-2">
                        <td>ssdfhgdjkiuhlkmnhdf</td>
                        <td>14.4.2016</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button ng-click="switchModalSubject()" class="btnCancel">Cancel</button>
            </div>
        </form>
    </div>
</div>



<main class="main">
        <div class="information-container">
            <h2>
                Grades
                <a href="/"><img src="../resources/Hamburger.png"></a>
            </h2>
            <div id="md-table-template">
                <table class="md-table">
                    <thead>
                    <tr>
                        <th class="md-table-header">Title</th>
                        <th class="md-table-header">Date</th>
                        <th class="md-table-header">Grade</th>
                        <th class="md-table-header">Created</th>
                        <th class="md-table-header">Changed</th>
                        <th class="md-table-header"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr class="md-table-content-row">
                        <td class="md-table-content">
                            <input  value="whatsoever" class="form-control">
                        </td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">
                            <select class="form-control"  ng-model="" ng-change="">
                                <option value="0">Absent</option>
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select></td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                    </tr>
                    <tr class="md-table-content-row">
                        <td class="md-table-content">
                            <input  value="whatsoever" class="form-control">
                        </td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">
                            <select class="form-control"  ng-model="" ng-change="">
                                <option value="0">Absent</option>
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select></td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                    </tr>
                    <tr class="md-table-content-row">
                        <td class="md-table-content">
                            <input  value="whatsoever" class="form-control">
                        </td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">
                            <select class="form-control"  ng-model="" ng-change="">
                                <option value="0">Absent</option>
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select></td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-content">13.3.2016</td>
                        <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="information-container">
            <h2>
                Gesamtnote
                <a href="/"><img src="../resources/Hamburger.png"></a>
            </h2>
            <div>
                <table class="single-Value">
                    <tr>
                        <td>3.5</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="information-container">
        <h2>
            Notes
            <a href="/"><img src="../resources/Hamburger.png"></a>
        </h2>
        <div id="md-table-template2">
            <table class="md-table">
                <thead>
                <tr>
                    <th class="md-table-header">Note</th>
                    <th class="md-table-header">Created</th>
                    <th class="md-table-header">Changed</th>
                    <th class="md-table-header"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="md-table-content-row">
                    <td class="md-table-content">
                        <input  value="whatsoever" class="form-control">
                    </td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                </tr>
                <tr class="md-table-content-row">
                    <td class="md-table-content">
                        <input  value="whatsoever" class="form-control">
                    </td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                </tr>
                <tr class="md-table-content-row">
                    <td class="md-table-content">
                        <input  value="whatsoever" class="form-control">
                    </td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-content">13.3.2016</td>
                    <td class="md-table-td-more"><span class="glyphicon glyphicon-zoom-in"/></td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
</main>



