<nav id="site-nav">
    <div class="site-nav-wrapper">
        <button ng-click="switchModalPupil()" ng-disabled="true">add pupil</button>
        <button ng-click="switchModalEvent()">add event</button>
    </div>
</nav>
<main class="main">
    <div ng-hide="!data.displayModalPupil || true" id="myModal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Pupil</h2>
            </div>
            <form>
                <div class="modal-body">
                    <div class="imput">
                        <div>Class:</div>
                        <input id="classList" list="Class">
                        <datalist id="Class">
                            <option value="1BHIFS">
                            <option value="1AHIFS">
                        </datalist>
                    </div>
                    <div class="imput" id="studentList">
                        <div>Student:</div>
                        <input list="Students">
                        <datalist id="Students">
                            <option value="Dude 01">
                            <option value="Dude 02">
                        </datalist>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btnOK" type="button"> OK</button>
                    <button ng-click="switchModalPupil()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalEvent" id="myModal2" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Event</h2>
            </div>
            <form name="eventForm">
                <div class="modal-body">
                    <input type="date" id="eventDateInput" name="inputEventDate" ng-model="newEvent.eventDate"
                    placeholder="eventDate" min="2016-01-01" required />
                    <input type="text" id="eventDescriptionInput" name="inputEventDescription" ng-model="newEvent.eventDescription"
                        placeholder="eventDescription" required/>
                </div>
                <div class="modal-footer">
                    <input type="submit" ng-click="insertNewEvent()" ng-disabled="!eventForm.$valid" value="Submit"/>
                    <button ng-click="switchModalEvent()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <div class="section-container">
        <div class="tile-container">
            <h2>
                Pupils
            </h2>
            <div ng-repeat="recPupil in colPupils" ng-click="navToPupil(recPupil.idUser)">
                <h4>{{recPupil.surname}}</h4>
                <h5>{{recPupil.forename}}</h5>
            </div>
        </div>
    </div>
</main>
</div>
</html>
