    <div class="login">
        <md-input-container>
            <form name="clientLogin">
                <div style="align-items:center;">
                <h1>Login</h1>
                <img src="../resources/logoLogin.png" height="100vh" style="margin-left:auto;margin-right: auto">
                    <div style="display: inline-block;text-align: left;">
                        <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                            <md-icon md-svg-src="../resources/ic_perm_identity_black_24px.svg" class="name"></md-icon>
                            <input style="padding-left: 25px;"  name="username" id = "credentials" ng-model="form.username" type="text" placeholder="Name" ng-required="true">
                            <div ng-messages="clientLogin.userName.$error">
                                <div ng-message="required">Your full name is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                    <!-- Use floating placeholder instead of label -->
                            <md-icon md-svg-src="../resources/ic_description_black_24px.svg" class="email"></md-icon>
                            <input style="padding-left: 25px;" id = "password" ng-model="form.password" type="password" placeholder="Password" ng-required="true" name="password">
                            <div ng-messages="clientLogin.userPassword.$error">
                                <div ng-message="required">Your password is required.</div>
                             </div>
                        </md-input-container>
                        <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                            <md-button type="submit" ng-click="logIn()"
                                       value="LogIn" class="md-raised md-primary">Login</md-button>
                        </md-input-container>
                        <span flex ng-bind="form.failuremessage"></span>

                    </div>
                </div>
            </form>
            <md-progress-linear md-mode="indeterminate" ng-disabled="!form.awaitingLoginResponse"></md-progress-linear>
        </md-input-container>
    </div>
