<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body class="all">
<header id="site-header">
  <div class = "site-header-toprow">
    <div class="circle">
      <a class ="site-logo" href="../index.html">
        <h1 class = "logotype">
          <img src="../resources/logo.png" width="70">
        </h1>
      </a>
    </div>
    <h1>
      Class
    </h1>
  </div>

  <nav id="site-nav">
    <div class = "site-nav-wrapper">
      <a id="addClassBtn">Add Student</a>
      <a id="addSubjectBtn">Add Event</a>
    </div>
  </nav>
  </div>

</header>
<main class="main">

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="myModal" class="modal">
    <div class="modal-wrapper">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Add Student</h2>
    </div>
      <form>
    <div class="modal-body">
      <div class="imput">
      <div>Class: </div><input id="classList" list="Class">
      <datalist  id="Class">
        <option value="1BHIFS">
        <option value="1AHIFS">
      </datalist>
    </div>


        <div class="imput" id="studentList"><div>Student: </div>
        <input list="Students">
        <datalist  id="Students">
          <option value="Dude 01">
          <option value="Dude 02">
        </datalist>
          </div>
    </div>
      <div class="modal-footer">
        <button class="btnOK" type="button"> OK</button>
        <button id="btnCancel" class="btnCancel" type="button">Cancel</button>
      </div>
      </form>
    </div>
  </div>

  <div id="myModal2" class="modal">
    <div class="modal-wrapper">
      <div class="modal-header">
        <span class="close">×</span>
        <h2>Add Event</h2>
      </div>
      <form>
        <div class="modal-body">
          <div class="imput"> <div>Title: </div><input type="text" /></div>
          <div class="imput"> <div>Date: </div><input type="date" /></div>
        </div>
        <div class="modal-footer">
          <button class="btnOK" type="button"> OK</button>
          <button id="btnCancel2" class="btnCancel" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>


<div class="section-container">
  <div class="tile-container">

      <h2>
        Students
        <a href="/"><img src="../resources/Hamburger.png"></a>
      </h2>
  <div>

    <a href="styled_Student.html">
  Text
    </a>
  </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div> <div>
    <a href="styled_Student.html">
      Text
    </a>
  </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div> <div>
    <a href="styled_Student.html">
      Text
    </a>
  </div>
    <div><a href="styled_Student.html">
      Text
    </a>
    </div> <div>
    <a href="styled_Student.html">
      Text
    </a>
  </div>
    <div>
      <a href="styled_Student.html">
        Text
      </a>
    </div>
  </div>
</div>
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="../js/Gui_Operations_for_Class.js"></script>
</main>
</body>
</html>
