<div >
    <header  ng-show="show" id="site-header">
        <div class="site-header-toprow">
            <div class="circle">
                <a class="site-logo" href="#!/overview#overview">
                    <h1 class="logotype">
                        <img src="resources/logo.png" width="70">
                    </h1>
                </a>
            </div>
            <div >
                <h2 ng-bind="breadcrumb">
                </h2>
            </div>
            <div class="settings-btn">
                <img src="resources/settings.png" width="2em" ng-click="switchModalSettings()">
            </div>
        </div>
    </header>
</div>


<nav id="site-nav">
    <div class="site-nav-wrapper">
        <button class = "site-nav-button" ng-click="switchModalGroup()">add group</button>
        <button class = "site-nav-button" ng-click="switchModalSubject()">add subj</button>
        <button class = "site-nav-button" ng-click="sendEmail()">send mail</button>
    </div>
</nav>

<div class="all">
    <div ng-hide="!data.displayModalSubject" id="myModal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Subject</h2>
            </div>
            <form name="formSubject">
                <div class="modal-body">
                    <div class=imput>
                        <div>
                            <input class="imput" type="text" ng-model="newSubject.name" name="subjectName" required/>
                        </div>
                        <div class="modal-footer">
                            <input ng-disabled="!formSubject.$valid" type="submit" ng-click="addNewSubject()"
                                   value="Submit" class="btnOK"/>
                            <button ng-click="switchModalSubject()" class="btnCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalGroup" id="myModal2" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Group</h2>
            </div>
            <form name="formGroup">
                <div class="modal-body">
                    <div class=imput>
                        <div>
                            <input type="text" ng-model="newGroup.name" name="groupName" required/>
                        </div>
                        <div>
                            <select ng-options="recSubject as recSubject.name for recSubject in colSubjects"
                                    ng-model="newGroup.subject" name="groupSubject" required></select>
                        </div>
                        <div class="modal-footer">
                            <input ng-disabled="!formGroup.$valid" type="submit" ng-click="addNewGroup()"
                                   value="Submit" class="btnOK"/>
                            <button ng-click="switchModalGroup()" class="btnCancel">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalSettings"  id="myModal3" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Settings</h2>
            </div>
            <form>
                <div class="modal-body">
                    <div class=imput>

                        <div>
                            <label>Uhrzeit:</label>
                        </div>

                        <div>
                            <input type="time">
                        </div>

                        <div ng-cloak>
                            <md-content>
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Periode">
                                        <md-content class="md-padding">
                                            <fieldset>
                                                <div layout="row" layout-wrap flex>
                                                        <md-checkbox aria-label="Monday" >
                                                            Monday
                                                        </md-checkbox>

                                                        <md-checkbox aria-label="Tuesday">
                                                            Tuesday
                                                        </md-checkbox>

                                                        <md-checkbox aria-label="Wednesday">

                                                        </md-checkbox>Wednesday

                                                        <md-checkbox aria-label="Thursday">
                                                            Thursday
                                                        </md-checkbox>

                                                        <md-checkbox aria-label="Friday">
                                                            Friday
                                                        </md-checkbox>

                                                        <md-checkbox aria-label="Saturday">
                                                            Saturday
                                                        </md-checkbox>

                                                        <md-checkbox aria-label="Sunday">
                                                            Sunday
                                                        </md-checkbox>
                                                    </div>
                                            </fieldset>
                                        </md-content>
                                    </md-tab>

                                    <md-tab label="Weekdays">
                                        <md-content class="md-padding">
                                            <label class="control-label" for="sel1">Send me an e-mail every </label>
                                            <div >
                                                <select class="form-control"  id="sel1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                    <option>7</option>
                                                    <option>8</option>
                                                    <option>9</option>
                                                    <option>10</option>
                                                    <option>11</option>
                                                    <option>12</option>
                                                </select>
                                            </div>
                                            <label> days </label>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-content>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input ng-disabled="" type="submit" ng-click=""
                           value="Submit" class="btnOK"/>
                    <button ng-click="switchModalSettings()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <main class="main">
    <div class="section-container" ng-repeat="(key, value) in colGroupsBySubjects">
        <div class="tile-container">
            <h1>
                {{key}}
            </h1>
            <div ng-repeat="recordGroup in value" ng-click="navToGroup(recordGroup.idGradeGroup)">
                <h3>{{recordGroup.name}}</h3>
            </div>
        </div>
    </div>
    </main>
</div>