<div >
    <header  ng-show="show" id="site-header">
        <div class="site-header-toprow">
            <div class="circle">
                <a class="site-logo" href="#overview">
                    <h1 class="logotype">
                        <img src="resources/logo.png" width="70">
                    </h1>
                </a>
            </div>
            <div >
                <h2 ng-bind="breadcrumb">
                </h2>
            </div>
            <div class="settings-btn">
                <img src="resources/settings.png" width="2em" ng-click="switchModalSettings()">
            </div>
        </div>
    </header>
</div>

<nav id="site-nav">
    <div class="site-nav-wrapper">
        <button class="site-nav-button" ng-click="displayAddPupil()">add pupil</button>
        <button class="site-nav-button" ng-click="switchModalEvent()">add event</button>
    </div>
</nav>

<main class="main">
    <div ng-show="data.displayModalPupil" id="myModal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Pupil</h2>
            </div>
            <div class="modal-body">
                <md-content ng-show="!classesSelected">
                    <md-chips ng-model="colSelectedClasses" md-autocomplete-snap
                    md-transform-chip="auto.transformChip($chip)"
                    md-require-match="true">
                     <md-chip-template>
                            <span>
                            <strong>{{$chip.name}}</strong>
                            </span>
                        </md-chip-template>
                        <md-autocomplete
                            md-selected-item="auto.selectedItem"
                            md-search-text="auto.searchText"
                            md-items="item in auto.querySearch(auto.searchText)"
                            md-item-text="item.name"
                            placeholder="Search for a Class">
                            <md-item-template><span md-highlight-text="auto.searchText">{{item.name}}</span></md-item-template>
                        </md-autocomplete>
                    </md-chips>
                    <md-button class="md-raised md-primary" ng-click="loadAdPupils()">Submit Classes</md-button>
                </md-content>
                <md-content ng-show="classesSelected">
                     <div layout="row" layout-wrap flex>
                        <div flex-xs flex="50">
                            <md-checkbox aria-label="Select All"
                                        ng-checked="check.isChecked()"
                                        md-indeterminate="check.isIndeterminate()"
                                        ng-click="check.toggleAll()">
                            <span ng-if="check.isChecked()">Un-</span>Select All
                            </md-checkbox>
                        </div>
                        <div flex="50" ng-repeat="item in colAdPupils">
                        <md-checkbox ng-checked="check.exists(item, colSelectedPupils)" ng-click="check.toggle(item, colSelectedPupils)">
                            {{item.surname}},{{item.forename}}
                        </md-checkbox>
                        </div>
                      </div>
                      <md-button class="md-raised md-primary" ng-click="registerPupils()">Submit Pupils</md-button>
                </md-content>
            </div>
            <div class="modal-footer">
                <button ng-click="switchModalPupil()" class="btnCancel">Cancel</button>
            </div>
            <!--
            <form>
                <div class="modal-body">
                    <div class="imput">
                        <div>Class:</div>
                        <input id="classList" list="Class">
                        <datalist id="Class">
                            <option value="1BHIFS">
                            <option value="1AHIFS">
                        </datalist>
                    </div>
                    <div class="imput" id="studentList">
                        <div>Student:</div>
                        <input list="Students">
                        <datalist id="Students">
                            <option value="Dude 01">
                            <option value="Dude 02">
                        </datalist>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btnOK" type="button"> OK</button>
                    <button ng-click="switchModalPupil()" class="btnCancel">Cancel</button>
                </div>
            </form>
            -->
        </div>
    </div>

    <div ng-hide="!data.displayModalEvent" id="myModal2" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Event</h2>
            </div>
            <form name="eventForm">
                <div class="modal-body">
                    <md-input-container>
                        <label>Enter date</label>
                        <md-datepicker ng-model="newEvent.eventDate" required></md-datepicker>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Event Description</label>
                        <input ng-model="newEvent.eventDescription" required> 
                    </md-input-container>
                </div>
                <div class="modal-footer">
                    <input class="btnOK" type="submit" ng-click="insertNewEvent()" ng-disabled="!eventForm.$valid" value="Submit"/>
                    <button ng-click="switchModalEvent()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalEventDetail" id="myModal4" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Grade Event</h2>
            </div>
            <div class="modal-body" style="color: black">
                <div ng-repeat="item in grade.colParticipations">
                    <label>{{item.Pupil.surname}}, {{item.Pupil.forename}}</label>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Grade</label>
                        <md-select ng-model="item.grade" md-on-close="grade.updateGrade(item)">
                        <md-option ng-repeat="gradeOption in grade.gradeOptions" value="{{gradeOption.grade}}">
                            {{gradeOption.description}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                    <md-progress-circular md-mode="indeterminate" ng-hide="!item.isUpdating"></md-progress-circular>
                </div>
            </div>
            <div class="modal-footer">
                <input class="btnOK" type="submit" value="Submit"/>
                <button ng-click="switchModalEventDetail()" class="btnCancel">Cancel</button>
            </div>
        </div>
    </div>

    <div ng-hide="!data.displayModalSettings"  id="myModal3" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Settings</h2>
            </div>
            <form>
                <div class="modal-body">
                    <div class=imput>

                        <div>
                            <label>Uhrzeit:</label>
                        </div>

                        <div>
                            <input type="time">
                        </div>
                        <div>
                            <ul class="nav nav-tabs">
                                <li ng-click="setSettingTabToPeriod()">Periode</li>
                                <li ng-click="setSettingTabToWeekdays()">Weekdays</li>
                            </ul>
                            <div ng-hide="data.currentSettingstab != 'Weekdays'">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Monday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Tuesday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Wednesday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Thursday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Friday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Saturday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Sunday</label>
                                </div>
                            </div>

                            <div class="form-group" ng-hide="data.currentSettingstab != 'Period'">
                                <label class="control-label" for="sel1">Send me an e-mail every </label>
                                <div >
                                    <select class="form-control"  id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <label> days </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input ng-disabled="" type="submit" ng-click=""
                           value="Submit" class="btnOK"/>
                    <button ng-click="switchModalSettings()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    </br>
    <md-progress-linear md-mode="indeterminate" ng-disabled="!state.awaitingPupilData"></md-progress-linear>


    <div class="section-container">
        <div class="tile-container">
            <h1>
                Pupils
            </h1>
            <div ng-repeat="recPupil in colPupils" ng-click="navToPupil(recPupil.fkUser)">
                <h4>{{recPupil.surname}}</h4>
                <h5>{{recPupil.forename}}</h5>
            </div>
        </div>
    </div>

    </br>
    <md-progress-linear md-mode="indeterminate" ng-disabled="!state.awaitingEventData"></md-progress-linear>

    <div class="section-container">
        <div class="tile-container">
            <h1>
                Events
            </h1>
            <div ng-repeat="recEvent in colEvents" ng-click="displayParticipationsOfEvent(recEvent.idGradeEvent)">
                <h4>{{recEvent.eventDescription}}</h4>
                <h5>{{recEvent.eventDate | date : "dd-MM-yyyy" : timezone}}</h5>
            </div>
        </div>
    </div>
</main>
</div>
</html>
