

<md-toolbar class="top-toolbar" layout="row"  md-scroll-shrink>
    <div style="display: inline-flex">
    <div>
    <md-button aria-label="menu" class="md-fab md-primary">
        <div class="imageholder">
            <img src="../resources/logo.png">
        </div>
    </md-button>
    </div>
    <div class="md-toolbar-tools">My Messages</div>
</div>
    <span flex></span>
    <div layout="row" layout-align="center center">
    <md-button class="md-icon-button">
        <md-icon ng-click="showTabDialog($event)" md-svg-src="ic_email_white_48px.svg"></md-icon>
    </md-button>
    </div>
    </md-toolbar>


<md-toolbar class="bottom-toolbar" layout>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <md-button>
            add Group
        </md-button>
        <md-button>
            add Subject
        </md-button>
    </div>
</md-toolbar>

<main>

<div class="subject-container" md-scroll-shrink ng-repeat="(key, value) in colGroupsBySubjects">
    <div>
        <md-subheader class="group-container" md-scroll-shrink>
            {{key}}
        </md-subheader>
        <div flex style="float:left">
        <div ng-repeat="recordGroup in value" ng-click="navToGroup(recordGroup.idGradeGroup)">
                <md-card flex-gt-sm-grow="10" ">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{recordGroup.name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
        </div>
        </div>

       <!-- <div ng-repeat="recordGroup in value" ng-click="navToGroup(recordGroup.idGradeGroup)">
            <h3>{{recordGroup.name}}</h3>
        </div> -->
    </div>
</div>
</main>

