<md-dialog style="width: 50%" aria-label="Add Subject">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Event</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-label="Close dialog"></span>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="imput" style="height: 7em">
                <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                    <md-icon md-svg-src="../resources/ic_perm_identity_black_24px.svg" class="name"></md-icon>
                    <input style="padding-left: 25px;" name="eventDescription" id="eventDescription"
                           ng-model="newEvent.eventDescription" type="text" placeholder="Description"
                           ng-required="true">
                    <!--       <div ng-messages="clientLogin.userName.$error">
                               <div ng-message="required">Your full name is required.</div>
                           </div>-->
                </md-input-container>

                <md-input-container style="width: 100%;margin-left:auto;margin-right: auto">
                    <md-icon md-svg-src="../resources/ic_perm_identity_black_24px.svg" class="name"></md-icon>
                    <input style="padding-left: 25px;" id="inputEventDate" type="date" name="inputEventDate"
                           placeholder="Date of Event" min="2016-01-01" ng-required="true"
                           class="ng-valid-min ng-touched ng-not-empty ng-dirty ng-valid-date ng-valid ng-valid-required"
                           aria-invalid="false">
                    <!--        <div ng-messages="clientLogin.userName.$error">
                                <div ng-message="required">Your full name is required.</div>
                            </div>-->
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button style="margin-left:20px;" ng-click="">
                OK
            </md-button>
            <span flex></span>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>