<md-toolbar class="top-toolbar" layout="row" md-scroll-shrink>
    <div style="display: inline-flex">
        <div>
            <md-button aria-label="menu" class="md-fab md-primary top-toolbar"  ng-click="goToOverview()">
                <div class="imageholder">
                    <img src="../resources/logo.png">
                </div>
            </md-button>
        </div>
        <div ng-bind="breadcrumb" class="md-toolbar-tools"></div>
    </div>
    <span flex></span>
    <div layout="row" layout-align="center center">
        <md-button ng-click="showTabDialog($event)" aria-label="none" class="md-icon-button">
            <md-icon md-svg-src="../resources/ic_email_white_48px.svg"></md-icon>
        </md-button>
    </div>
</md-toolbar>


<md-toolbar class="bottom-toolbar" layout>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <md-button aria-label="addPupil" ng-click="showAddPupilDialog($event)">
            add Pupil
        </md-button>

        <md-button aria-label="addEvent" ng-click="showAddEventDialog($event)" ng-disabled="!groupContainsPupils()">
            add Event
        </md-button>
    </div>
</md-toolbar>

<main class="main">
    <div class="group-container">
        <md-toolbar layout="row" class="group-container-header" md-scroll-shrink>
            <div style="display: inline-block">Pupils</div>
        <!--    <span flex></span>
            <div layout="row" layout-align="center center">
                <md-button ng-click="toggleRight()" class="md-icon-button">
                    <md-icon md-svg-src="../resources/ic_settings_white_48px.svg"></md-icon>
                </md-button>
            </div>-->
        </md-toolbar>

        <div flex>
            <div style="float:left" ng-repeat="recPupil in colPupils | orderBy: 'surname'" ng-click="navToPupil(recPupil.fkUser)">
                <md-card flex-gt-sm-grow="10">
                    <md-card-title style="display:block">
                        <md-card-title-text>
                            <div class="md-headline">{{recPupil.surname}}</div>
                            <div class="md-subhead"> {{recPupil.forename}}</div>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>
    <md-progress-linear md-mode="indeterminate" ng-disabled="!state.awaitingPupilData"></md-progress-linear>

    <div class="group-container">
        <md-toolbar layout="row" class="group-container-header" md-scroll-shrink>
            <div style="display: inline-block">Events</div>
            <!--        <span flex></span>
                <div layout="row" layout-align="center center">
                    <md-button ng-click="toggleRight()" class="md-icon-button">
                        <md-icon md-svg-src="../resources/ic_settings_white_48px.svg"></md-icon>
                    </md-button>
                </div>-->
            </md-toolbar>

            <div flex>
                <div style="float:left" ng-repeat="recEvent in colEvents | orderBy: '-eventDate'"
                     ng-click="displayParticipationsOfEvent(recEvent.idGradeEvent)">
                    <md-card flex-gt-sm-grow="10">
                        <md-card-title style="display:block">
                            <md-card-title-text>
                                <div class="md-headline">{{recEvent.eventDescription}}</div>
                                <div class="md-subhead">{{recEvent.eventDate | date : "dd-MM-yyyy" : timezone}}</div>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
            </div>
        </div>

        <md-progress-linear md-mode="indeterminate" ng-disabled="!state.awaitingEventData"></md-progress-linear>

    </main>
    <div ng-include="'templates/styled_Sidenav.html'" onload="sidenav.show"></div>

