<div class="all">

    <div >
        <header  ng-show="show" id="site-header">
            <div class="site-header-toprow">
                <div class="circle">
                    <a class="site-logo" href="#overview">
                        <h1 class="logotype">
                            <img src="resources/logo.png" width="70">
                        </h1>
                    </a>
                </div>
                <div >
                    <h2 ng-bind="breadcrumb">
                    </h2>
                </div>
                <div class="settings-btn">
                    <img src="resources/settings.png" width="2em">
                </div>
            </div>
        </header>
    </div>

    <div class="login-area">
        <h1>Login</h1>
        <img src="resources/logoLogin.png">
        <form name="formTeacher">

            <!--<select name="selectTeacher" ng-model="form.idUser" required>
                <option ng-repeat="record in colTeachers" ng-value="record.idUser">{{record.idUser}}</option>
            </select>-->

            <label>Username: </label>
            <input name="username" type="text" id = "credentials" ng-model="form.username">
            <label>Password:</label>
            <input name="password" type="password" id = "password" ng-model="form.password">
            <input class="sign-in-button" type="submit" ng-disabled="!formTeacher.$valid" ng-click="logIn()"
                   value="LogIn">
        </form>
        <label id="message" class="message_label">hier könnte ihre message stehen</label>
    </div>
</div>

