<div >
    <header  ng-show="show" id="site-header">
        <div class="site-header-toprow">
            <div class="circle">
                <a class="site-logo" href="#!/overview#overview">
                    <h1 class="logotype">
                        <img src="resources/logo.png" width="70">
                    </h1>
                </a>
            </div>
            <div >
                <h2 ng-bind="breadcrumb">
                </h2>
            </div>
            <div class="settings-btn">
                <img src="resources/settings.png" width="2em" ng-click="switchModalSettings()">
            </div>
        </div>
    </header>
</div>

<nav id="site-nav">
    <div class="site-nav-wrapper">
        <button class="site-nav-button" ng-click="switchModalNote()">add note</button>
        <button class="site-nav-button" ng-click="switchModalEvent()">add event</button>
        <button class="site-nav-button" ng-click="toggleView()">toggle view</button>
    </div>
</nav>

<div class="all">
<main class="main">

    <div ng-hide="!data.displayModalSettings"  id="myModal3" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Settings</h2>
            </div>
            <form>
                <div class="modal-body">
                    <div class=imput>

                        <div>
                            <label>Uhrzeit:</label>
                        </div>

                        <div>
                            <input type="time">
                        </div>
                        <div>
                            <ul class="nav nav-tabs">
                                <li ng-click="setSettingTabToPeriod()">Periode</li>
                                <li ng-click="setSettingTabToWeekdays()">Weekdays</li>
                            </ul>
                            <div ng-hide="data.currentSettingstab != 'Weekdays'">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Monday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Tuesday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Wednesday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Thursday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Friday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Saturday</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" value="">Sunday</label>
                                </div>
                            </div>

                            <div class="form-group" ng-hide="data.currentSettingstab != 'Period'">
                                <label class="control-label" for="sel1">Send me an e-mail every </label>
                                <div >
                                    <select class="form-control"  id="sel1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                                </div>
                                <label> days </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input ng-disabled="" type="submit" ng-click=""
                           value="Submit" class="btnOK"/>
                    <button ng-click="switchModalSettings()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>


    <div ng-hide="!data.displayModalEvent" id="myModal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Event</h2>
            </div>
            <form name="eventForm">
                <div class="modal-body">
                    <input type="date" id="eventDateInput" name="inputEventDate" ng-model="newEvent.eventDate"
                        placeholder="eventDate" min="2016-01-01" required />
                    <input type="text" id="eventDescriptionInput" name="inputEventDescription" ng-model="newEvent.eventDescription"
                        placeholder="eventDescription" required/>
                </div>
                <div class="modal-footer">
                    <input class="btnOK" type="submit" ng-click="insertNewEvent()" ng-disabled="!eventForm.$valid" value="Submit"/>
                    <button ng-click="switchModalEvent()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <div ng-hide="!data.displayModalNote" id="myModal2" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Add Note</h2>
            </div>
            <form name="noteForm">
                <div class="modal-body">
                    <input type="text" id="noteTextInput" name="inputNoteText" ng-model="newNote.note"
                        placeholder="new note" required/>
                </div>
                <div class="modal-footer">
                    <input class="btnOK" type="submit" ng-click="insertNewNote()" ng-disabled="!noteForm.$valid" value="Submit"/>
                    <button ng-click="switchModalNote()" class="btnCancel" >Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalUpdateNote" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Update Note</h2>
            </div>
            <form name="updateNoteForm">
                <div class="modal-body" style="color: grey">
                    <md-input-container>
                        <label>Note</label>
                        <input ng-model="updatedNote.note" required/>
                    </md-input-container>
                </div>
                <div class="modal-footer">
                    <input class="btnOK" type="submit" ng-click="submitUpdateNote(updatedNote)" ng-disabled="!updateNoteForm.$valid" value="Submit"/>
                    <button ng-click="switchModalUpdateNote()" class="btnCancel" >Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalGrade" id="participation_Modal" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Grade</h2>
            </div>
            <form>
                <div class="modal-body" style="color: grey">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Grade</label>
                        <md-select ng-model="formData.grade">
                        <md-option ng-repeat="gradeOption in grade.gradeOptions" value="{{gradeOption.grade}}">
                            {{gradeOption.description}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="modal-footer">
                    <input class="btnOK" type="submit" ng-click="submitGrade()" value="submit"/>
                    <button ng-click="switchModalGrade()" class="btnCancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalParticipationHistory" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Grade History</h2>
            </div>
            <form>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>Grade</th>
                            <th>Updated On</th>
                        </tr>
                        <tr ng-repeat="item in partHistory.colParticipation">
                            <td>{{item.grade}}</td>
                            <td>{{item.gradedOn}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button ng-click="switchModalGrade()" class="btnCancel">Ok</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="!data.displayModalNoteHistory" class="modal">
        <div class="modal-wrapper">
            <div class="modal-header">
                <h2>Grade History</h2>
            </div>
            <form>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th>Note</th>
                            <th>Updated On</th>
                        </tr>
                        <tr ng-repeat="item in noteHistory.colNotes">
                            <td>{{item.note}}</td>
                            <td>{{item.documentedOn}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button ng-click="switchModalGrade()" class="btnCancel">Ok</button>
                </div>
            </form>
        </div>
    </div>

    <div ng-hide="data.showOverview">
        </br>
        <md-progress-linear md-mode="indeterminate" ng-disabled="!state.awaitingParticipationData"></md-progress-linear>

        <div class="section-container">
            <div class="tile-container">
                <h1>Ungraded Events</h1>
                <div ng-repeat="recUnEvent in data.ungradedEvents" ng-click="viewGrade(recUnEvent)">
                    <h4>{{recUnEvent.eventDescription}}</h4>
                    <h5>{{recUnEvent.eventDate | date : "dd-MM-yyyy" : timezone}}</h5>
                </div>
            </div>
        </div>

        <div class="section-container">
            <div class="tile-container">
                <h1>Graded Events</h1>
                <div ng-repeat="recEvent in data.gradedEvents" ng-click="viewGrade(recEvent)">
                    <h4>{{recEvent.eventDescription}}</h4>
                    <h5>{{recEvent.eventDate | date : "dd-MM-yyyy" : timezone}}</h5>
                </div>
            </div>
        </div>
    </div>

    <div ng-hide="!data.showOverview">
        <h1>Prüfungen</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Grade</th>
                <th>History</th>
            </tr>
            <tr ng-repeat="recParticipation in data.gradedParticipations">
                <td>{{getEventOfParticipation(recParticipation.fkGradeEvent).eventDescription}}</td>
                <td>{{getEventOfParticipation(recParticipation.fkGradeEvent).eventDate | date : "dd-MM-yyyy" : timezone}}</td>
                <td>{{recParticipation.grade}}</td>
                <td><button ng-click="displayParticipationHistory(recParticipation.idParticipation)">History</button></td>
            </tr>
        </table>
        <h1>Notes</h1>
        <table>
            <tr>
                <th>Latest Note</th>
                <th>Update Note</th>
                <th>test</th>
                <th>History</th>
            </tr>
            <tr ng-repeat="recNote in data.colNotes">
                <td>{{recNote.note}}</td>
                <td><button ng-click="updateNote(recNote)">Update</button><td>
                <td><button ng-click="displayNoteHistory(recNote.idNote)">History</button></td>
            </tr>
        </table>

        <h1>Total grade</h1>
        <label>{{getTotalGrade()}}</label>
    </div>

</main>
</div>
</html>
